<style>
    body {
        margin: 0;
        padding: 0;
        width: 100%;
    }
    .banner {
        display: block;
        width: 100%;
    }
</style>
<body>
    <%= image_tag 'https://image.ibb.co/hDpX7k/alpha_blog_banner.jpg', :class => "banner" %>
</body>
