* {box-sizing: border-box;}

body {padding: 125px 15px 0;}

.banner {display:none;}

.nav {
    width: 100%;
    clear: both;
    position: absolute;
    left: 0;
    top: 0;
    min-height: 125px;
}

.my-container {
    max-width: 1100px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.nav-content {
    padding: 15px 0;
}

.logo {
    width: 30%;
    float: left;
    background-image: asset-url("logo.png");
    background-size: cover;
    height: 100px;
    background-position: center;
}


.nav-content ul {
    float: left;
    width: 70%;
    padding: 30px 5px;
    margin: 0;
    list-style-type: none;
    text-align: right;
}

.nav-content ul li {
    display: inline-block;
    padding: 0 10px;
}

.nav-links {
    font-size: 15px;
    padding: 10px 0;
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

.nav-links:hover {text-decoration: none; color: #000;}

table {width:100%;}

th {font-size: 15px;}

table a {text-transform: uppercase;}

h1 {text-transform: capitalize;}

#article_title, #article_description {
    width: 100%; 
    max-width: 750px;
    border: 1px solid #ccc;
}

#article_description {height: 200px;}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    background-color: rgb(230,82,42);
    color: #fff;
    border: none;
    padding: 5px 15px;
    font-weight: 600;
    letter-spacing: 2px;
}

.error-messages {
    background-color: rgba(230,82,42,.75);
    border: 1px solid rgb(230,82,42);
    border-radius: 10px;
    padding: 15px;
}

.error-messages h2 {
    color: #000;
    text-align: center;
    font-size: 24px;
}

.article-title {

font-weight: bold;

font-size: 1.5em;

}

.article-body {

border-top: 1px solid #eaeaea;

padding-top: 15px;

padding-bottom: 15px;

}

@import "bootstrap-sprockets";
@import "bootstrap";