<div class="nav">
  <div class="nav-content my-container">
    <div class="logo"></div>
    <ul>
      <li><%= link_to "Home", root_path, class: "nav-links" %></li>
      <li><%= link_to "About", about_path, class:"nav-links" %></li>
      <li><%= link_to "Artilces", articles_path, class: "nav-links" %></li>
    </ul>
  </div>
</div>